.bg-basiccolor {
  background-color: $basiccolor;

  h1, h2, h3, p {
    color: $weiss;
  }
}

.bg-grau90 {
  background-color: $grau90;
}

.margNeg {
  padding-bottom: 100px;

  &+ section {
    margin-top: - 60px;
    @include mq('desktop'){
      margin-top: - 80px;
    }
  }
}

.bg-grau {
  background-color: $grau;
}

.bg-image {
  background-image: url("../../img/nick-wilder.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  min-height: 400px;
  display: flex;
  align-items: center;
  @include mq('tablet_wide'){
    min-height: unset;
  }

  p {
    @include mq('tablet'){
      margin-top: 170px;
      font-size: 120%;
    }

    @include mq('phone'){
      margin-top: 120px;
      font-size: 115%;
    }
  }
}

.img-list {
  padding: 0;
  margin: 0;
  list-style: none;

  li {
    width: 16.66667%;
    float: left;
    box-sizing: border-box;
    padding: 0 20px;

    @include mq('tablet'){
      width: 33.333333%;
      padding: 10px 20px;
    }

    @include mq('phone'){
      width: 50%;
    }
  }
}

.line {
  position: relative;

  &:after {
    content: '';
    background-image: url("../../img/icons/line.svg");
    position: absolute;
    width: 100%;
    height: 30px;
    background-repeat: no-repeat;
    background-position: bottom;
    left: 0;
  }
}

.pfeile {
  margin-bottom: -20px;
  margin-top: -10px;

  img {
    width: 70px;
    transform: rotate(100deg);
  }
}

.kreise {
  [class*='kreis-']{
    display: inline-block;
    position: relative;
    div {
      position:  absolute;
      top: 15px;
      left: 15px;
      bottom: 15px;
      right: 15px;
      @include border();
      @include border-radius(100%);
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        max-width: 50%;
      }

      &[class*='bg-'] {
        background-size: cover;
        background-repeat: no-repeat;
      }

      &.bg-schritt-1 {
        background-image: url("../../img/1-schritt.png");
      }
      &.bg-schritt-2 {
        background-image: url("../../img/2-schritt.png");
      }
      &.bg-schritt-3 {
        background-image: url("../../img/3-schritt.png");
      }
    }

    &:before{
      content: "";
      display: block;
      padding-top: 100%; 	/* initial ratio of 1:1*/
    }

    &:not(:last-child):after{
      content: '';
      background-image: url("../../img/icons/pfeil.svg");
      width: 100%;
      height: 90px;
      position: absolute;
      background-repeat: no-repeat;
      transform: rotate(-55deg) scaleY(-1);
      bottom: 18px;
      right: -65%;

      @include mq('desktop'){
        height: 80px;
      }

      @include mq('tablet'){
        height: 60px;
      }

      @include mq('phone'){
        right: 22px;
        transform: rotate(45deg) scaleY(-1);
        bottom: -67px;
      }
    }
  }

  .kreis-3 {
    width: calc(33.33333% - 3px);
    @include mq('phone') {
      width: 60%;
      margin: 0 auto;
      display: block;
    }

  }
}

#overlay {
  background-color: rgba(0,0,0,.7);
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 100;
  top: 0;

  div {
    background-color: $grau;
    padding: 20px;
    width: 30%;
    margin: 50px auto 0;
    @include border-radius(10px);
    min-width: 320px;
    max-width: 470px;

    input {
      float: left;
      width: calc(20% - 10px);
      text-align: center;
      font-size: 300%;
      height: auto;
      margin: 20px 5px;
      font-weight: 200;
    }
  }
}

.width-tablet-wide-100 {
  @include mq('tablet_wide'){
    width: 100% !important;
    margin-left: 0 !important;
  }
}

.tablet-blau {
  @include mq('tablet'){
    color: $basiccolor;
  }
}

video {
  max-width: 100%;
}

div.mute {
  position: relative;
  cursor: pointer;
  z-index: 100;
}

@-webkit-keyframes pulsate {
  0% {
    -webkit-transform: scale(1, 1);
    opacity: 1;
  }
  50% {
    -webkit-transform: scale(1.4, 1.4);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1, 1);
    opacity: 1;
  }
}

div.mute > div {
  position: absolute;
  width: 20%;
  left: 40%;
  top: 35%;
  z-index: 1000;
  -webkit-animation: pulsate 3s ease-out;
  -webkit-animation-iteration-count: infinite;
}
div.mute.off > div {
  display: none;
}