$breakpoints: (
        "phone_small":  400px,
        "phone":        480px,
        "tablet":       768px,
        "tablet_wide":  980px,
        "desktop":      1200px,
);

@mixin mq($width, $type: max) {
  @if map_has_key($breakpoints, $width) {
    $width: map_get($breakpoints, $width);
    @if $type == max {
      $width: $width - 1px;
    }
    @media only screen and (#{$type}-width: $width) {
      @content;
    }
  }
}

@mixin mq-max-min($max-width, $min-width) {
  @if map_has_key($breakpoints, $max-width) {
    $max-width: map_get($breakpoints, $max-width);
    $max-width: $max-width - 1px;
    $min-width: map_get($breakpoints, $min-width);
    @media only screen and (max-width: $max-width) and (min-width: $min-width) {
      @content;
    }
  }
}

@mixin font-style($size: false, $colour: false, $weight: false,  $lh: false) {
  font-family: 'Roboto', Arial, sans-serif;
  @if $size { font-size: $size; }
  @if $colour { color: $colour; }
  @if $weight { font-weight: $weight; }
  @if $lh { line-height: $lh; }
}

@mixin border-radius($radius: false){
  @if $radius == false {
    $radius: 5px;
  }
  border-radius: $radius;
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
}

@mixin background-img($url: '', $size: cover,  $position: center, $repeat: no-repeat) {
  background: url($url) $repeat $position;
  background-size: $size;
}

@mixin box-shadow($size : 10px, $color : $grau90){
  box-shadow: 0 0 $size $color;
}


@function str-replace($string, $search, $replace: '') {
  $index: str-index($string, $search);
  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace +
            str-replace(str-slice($string, $index +
            str-length($search)), $search, $replace);
  }
  @return $string;
}

@function svg-url($svg){
  $encoded:'';
  $slice: 2000;
  $index: 0;
  $loops: ceil(str-length($svg)/$slice);
  @for $i from 1 through $loops {
    $chunk: str-slice($svg, $index, $index + $slice - 1);
    $chunk: str-replace($chunk,'"','\'');
    $chunk: str-replace($chunk,'<','%3C');
    $chunk: str-replace($chunk,'>','%3E');
    $chunk: str-replace($chunk,'&','%26');
    $chunk: str-replace($chunk,'#','%23');
    $encoded: #{$encoded}#{$chunk};
    $index: $index + $slice;
  }
  @return url("data:image/svg+xml;charset=utf8,#{$encoded}");
}

@function svg-url-with-replaced-fill($svg, $fill-to-replace, $new-fill) {
  $replaced-svg: str-replace($svg, $fill-to-replace, $new-fill);
  $replaced-svg-url: svg-url('#{$replaced-svg}');
  @return $replaced-svg-url;
}

@mixin border($size : 1px, $color : $grau80, $style : solid){
  border: $size $color $style;
}

@mixin icon-white($svg){
  background-image: svg-url-with-replaced-fill($svg, '#000000', $weiss);
}